lib/
.idea
*.iml
*.log
target/
Tests-Results/
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
*.orig
.checkstyle
.externalToolBuilders
.pmd
*.class
*.sonar_lock
execution-credentials_*.properties
TestResult_*
*.html
screenshots/
_DelSyncFiles/
Screenshot_image_*.png
*.pdf
*.jpg
bin/
".\\screenshots/"
.*screenshots\
.DS_Store
test-output/*
TestRunResults.xml
Tests-Data/execution-credentials.properties
